body{
    margin: 0;
}
nav{
    background-color:white;
    width: 100%;
    position: fixed;
    top: 0;
}
#horrornav{
    background-color: #000;
}
#horrornav a{
    color: red;
}
#fromba{
    background-color:  rgb(45, 216, 159);
}
#fromnav{
    background-color:  rgb(45, 216, 159);
}
#animeba{
    background-color: rgb(150, 237, 233);
}
#animenav{
    background-color:rgb(150, 237, 233) ;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content:center;
}
nav a{
    color: #000;
    text-decoration: none;
    padding: 15px;
}
nav a:hover{
    background-color: red;
}
.catright{
    width: 30%;
    position: fixed;
    right: 0;
    top: 60px;
}
.catleft{
    width: 30%;
    position: fixed;
    left: 0;
    top: 60px;
}
.letter{
    margin-top: 50px;
    text-align: center;
}
#catbir{
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}
.frog{
    justify-content: space-between;
    width: 33%;
}
#kaerudera{
    text-align: center;
}
.movie1{
    width: 45%;
    float: left;
}
.letter2{
    margin-top: 50px;
    color: red;
}
.warning{
    color: red;
}
.anime{
    width: 30%;
    float: left;
}
.letter3{
    text-align: center;
    margin-top: 60px;
}
.DARUMA{
    width: 50%;
    float: left;
}
.name{
    color: red;
    text-align: center;
    margin-top: 60px;
}
table{
    border: solid 1px;
    border-collapse: collapse;
    width: 40%;
    text-align: center;
}
td{
    border: solid 1px;
}
.CRimage{
    margin-top: 20px;
    margin-left: 160px;
    width: 25%;
}
.letter4 h2{
    margin-top: 30px;
}
.letter4 img{
    width: 30%;
    float: left;
}
.letter5{
    margin-top: 70px;
}
.letter5 h1{
    text-align: center;
}
.NBA{
    width: 50%;
    float: left;
}
.LeBron{
    width: 35%;
}
#horror{
    background-image: url(image/anaberu.jpg);
    background-size: cover;
}